.section {
  margin: auto;
  max-width: 32rem;
}

.title {
  color: rgb(47, 110, 186);
  font-size: 1.5rem;
}

.title::after {
  content: " ";
  display: block;
  height: 1px;
  width: 32rem;
  position: absolute;
  background: rgb(185, 185, 185);
}

.advanced {
  padding-top: 1rem;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 0.1s;
  background: #adf;
  color: #018;
  padding: 0.8rem 1.6rem;
  margin: 1rem auto;
}

.button:hover {
  background: #19f;
  box-shadow:
    0 0 0 3px #adf,
    0 0 0 4px #19f;
  outline: none;
}

.button:active {
  box-shadow:
    0 0 0 3px #19f,
    0 0 0 4px #19f;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
